<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/public/css/main.css">
			<link rel="stylesheet" type="text/css" href="/public/css/animation.css">
			<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">			
			<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
			<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- Yandex.Metrika counter --> 
			<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42631714 = new Ya.Metrika({ id:42631714, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42631714" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
			<!-- /Yandex.Metrika counter -->
		</head>
		<body>
		<div class="header">
			<div id="nav_container">
				<nav >
					<ul>
						<li><a href="/">Projects</a></li>
						<li><a href="/resume">Resume</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</nav>
			</div>
			<div id="canvas_container">
				<canvas id="canvas" height="30" width="60"></canvas>
			</div>
			<div id="imageHeart" title="My current location: Lausanne, Switzerland">
			</div>​
		</div>
		<script type="text/javascript" src="/public/js/animation.js"></script>
			<div class="container">
			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:trushinskiy.a@gmail.com">email</a></li>
	        		<li><a href="https://github.com/timatrue">github.com/timatrue</a></li>
				</ul>
			</footer>
		</body>
	</html> 